<% provide(:title, "Log In") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h3>Log In</h3>

<%=form_for(:session, url: login_path, local: true) do |f| %>
    <%= f.text_field :email, placeholder: "email", class: 'form-control' %>
    <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
    <%= f.submit "Log In", class: "btn btn-primary" %>
<%end%>

<p>New user? <%= link_to "Sign Up Now!", new_user_path %>