<h1><%= @user.full_name %></h1>

<div class="card-wrapper">
    <% @user.plants.each do |p| %>
      <div class="card">
        <%= p.common_name %><br>
        <%= p.scientific_name %><br>
        <% if !p.photo.nil?%>
          <a href=<%= p.photo%> class="card-button">See Photo</a>
        <%end%>
         <%= show_instructions(p)%>
         <%= link_to "Add instructions", new_user_plant_plants_user_path(@user.id, p.id) %><br><br>

         <%= plants_users_status(p, @user) %>
        

        <%= form_with url: user_plant_path(p), method: "delete" do |f|%>
        <%= f.hidden_field :id, value: p.id %>
        <%= f.hidden_field :user_id, value: @user.id%>
        <%= f.submit "Delete plant" %>
        <%end%>
 </div>
        
      <%end%><br>
      
</div>