<h1><%= @user.full_name %></h1>

<div>
  <p>  <% current_user.plants.each do |p| %>
        <%= p.common_name %><br>
        <%= p.scientific_name %><br>
        <% if !p.photo.nil?%>
          <a href=<%= p.photo%>>See Photo</a>
        <%end%>
         <%= render '/status', {:plantsuser => @plantsuser, :user => @user} %><br>
      <%end%>
  </p>
</div>



