<h1><%= @user.full_name %></h1>

<div>
  <p>  <% current_user.plants.each do |p| %>
        <%= p.common_name %><br>
        <%= p.scientific_name %><br>
        <% if !p.photo.nil?%>
          <a href=<%= p.photo%>>See Photo</a><br>
        <%end%>
         <%= link_to "Add instructions & reminders", new_user_plant_plants_user_path(@user.id, p.id) %><br><br>
      <%end%><br>
  </p>
</div>