<div class="container">
        <h2>Here's what we found for <%= @name%>:</h2>

       <div class="card-wrapper"> 
        <% @placeholders.each do |p| %>
                <div class="card">
                <h3>Common Name</h3> <%= p.common_name %><br>
                <h3>Scientific Name</h3> <%= p.scientific_name %><br>
                
                
                <% if current_user.nil? %>
               
                        <%= button_to "Log in to add to profile", login_path, method: :get %>
                <% else %>
                        <%= render "/add_plant", {:plant_id => p.id } %>
               
                <%end%>
                
                </div>
        <%end%>

        </div>
</div>
    
