<div class="container">
        <h3>Here's what we found for <%= @name%>.</h3>

        <div class="row-sm">
        <% @placeholders.each do |p| %>
       
                <li><%= p.common_name %></li>
                <li><%= p.scientific_name %></li>
                <% if current_user.nil? %>
                        <li> <%= link_to "Log in to add to profile", login_path %>
                <% else %>
                        <li><%= render "/add_plant", {:plant_id => p.id } %></li>
                <%end%>
        <%end%>

        </div>
</div>
    
