<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Thyme Saver", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li id="search_partial"> <%= render '/search_plants'%>
            <li><%= link_to "Home", '/' %></li>
            <% if logged_in? %>
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Update", edit_user_path(current_user)%></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  
    </div>
  </body>
</html>
